:root {
    --pacific-bridge: #0052CC;
    --squid-ink: #172B4D;
    --tamarana: #00B8D9;
    --doctor: #FFFFFF;
    --poppy-sunshine: #FF5630;

}
body {
    margin: 0;
    padding: 0;
    
    background-color: var(--doctor);
    color: var(--squid-ink);
}
table{
     border-radius: 10px;
}
tr{
    color: var(--squid-ink);
    font-weight: 400;
}
th{
    cursoe: pointer;
}
.logo{
    width: 125px;
    height: 125px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
.left-rail{
    background-color: var(--tamarana);
    color: var(--doctor);
    height: auto;
}
.left-rail-tiles{
    width: 100%;
    font-weight: 600;
    border-radius: 10px;
}
.left-rail-tiles:hover, .left-rail-tiles:active{
    background-color: var(--squid-ink);
}
.the-tabs{
    margin-top: 50px;
}
.nav-item{
    color:var(--squid-ink);
    font-weight: 500;
}
a .nav-item:visited{
    background-color: red !important;
}

.the-tab:link{
    text-decoration-color: var(--squid-ink);
}
.header{
    display: inline-block;
    margin:20px;
    margin-left: 10px;
}
.display-section{
    height: 110px;
    margin:15px;
    background-color: var(--pacific-bridge);
    color: var(--doctor);
    border:2px solid var(--doctor);
    border-radius: 10px;
    padding: 10px;
}